body {
    font-size: 14px;
    font-family: 'Walsheim', helvetica;
    line-height: 1.7;
    font-weight: 300;
    color: #f4412a;
    box-sizing: border-box;
}


header {
    overflow: hidden;
    display: block;
    width: 100%;
    padding: 10px;
}

header h1 {
    float: left;
    font-size: 15px;
    margin-top: -2px;
}

header nav {
    float: right;
    width: 64px;
}

.about {
    border-bottom: 1.5px solid #f4412a;
    font-size: 15px;
    color: #f4412a;
    text-decoration: none;
    cursor: help;
}

.center-wrap {
    margin: 0 auto;
    padding: 0;
}

.content {
    padding: 40px 0 40px;
    text-align: center;
    font-weight: 600;
    max-width: 850px;
    margin: 0 auto;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.content ul li {
    font-family: 'Harbour', 'Walsheim','Sabre Medium','GZA';
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #f4412a;
    font-weight: 300;
    list-style: none;
    font-size: 8.75vh;
    line-height: 12.5vh;
}

.content ul li a {
    color: rgba(255, 255, 255, 0.3);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #f4412a;
    border: none;
}

.flower_1 {
    border: 2px solid #f4412a;
    box-shadow: 5px 5px 0px 0px #f4412a;
    width: 200px;
    position: absolute;
    top: 15%;
    left: 12%;
    z-index: -1;
    display: none;
}

.flower_2 {
    border: 2px solid #f4412a;
    box-shadow: 5px 5px 0px 0px #f4412a;
    width: 200px;
    position: absolute;
    top: 35%;
    left: 12%;
    z-index: -1;
    display: none;
}

.flower_3 {
    border: 2px solid #f4412a;
    box-shadow: 5px 5px 0px 0px #f4412a;
    width: 225px;
    position: absolute;
    top: 25%;
    left: 70%;
    z-index: -1;
    display: none;
}

.showlibrary {
    cursor: pointer;
}

::selection {
    background: #f4412a;
    color: white;
}

footer {
    border-top: 2px solid #f4412a;
    padding: 10px 0 40px;
    height: 40px;
    width: 100%;
    float: right;
}

footer nav {
    padding: 0 20px;
    float: left;
}

footer img {
    float: right;
    margin: 0 10px;
    width: 20px;
    position: relative;
    top: -2px;
}